@if(!isEdit){
<p>Add new book</p>
} @else {
<p>Edit book {{currentBook.title}}</p>
}

<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
   <div class="input-form">
      <mat-form-field class="example-form-field">
         <mat-label>Book Title</mat-label>
         <input matInput type="text" formControlName="titleName">
         <button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
         </button>
      </mat-form-field>

      <mat-form-field class="example-form-field">
         <mat-label>Author Name</mat-label>
         <input matInput type="text" formControlName="authorName">
         <button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
         </button>
      </mat-form-field>

      <mat-form-field class="example-form-field">
         <mat-label>Publish Year</mat-label>
         <input matInput type="number" formControlName="publishedYear">
         <button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
         </button>
      </mat-form-field>

      <!-- chips for tag -->
      <mat-form-field class="example-chip-list">
         <mat-label>Book tags</mat-label>
         <mat-chip-grid #chipGrid aria-label="Enter tags">
            @for (tag of tags; track tag) {
            <mat-chip-row (removed)="remove(tag)" [editable]="true" (edited)="edit(tag, $event)"
               [aria-description]="'press enter to edit ' + tag.name">
               {{tag.name}}
               <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                  <mat-icon>cancel</mat-icon>
               </button>
            </mat-chip-row>
            }
            <input placeholder="New tag..." [matChipInputFor]="chipGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)" />
         </mat-chip-grid>
      </mat-form-field>

      <button mat-raised-button type="submit">Submit</button>
   </div>
</form>

<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Slider configuration</h2>

    <section class="example-section">
      <mat-form-field class="example-margin example-width">
        <mat-label>Value</mat-label>
        <input matInput type="number" [(ngModel)]="value">
      </mat-form-field>
      <mat-form-field class="example-margin example-width">
        <mat-label>Min value</mat-label>
        <input matInput type="number" [(ngModel)]="min">
      </mat-form-field>
      <mat-form-field class="example-margin example-width">
        <mat-label>Max value</mat-label>
        <input matInput type="number" [(ngModel)]="max">
      </mat-form-field>
      <mat-form-field class="example-margin example-width">
        <mat-label>Step size</mat-label>
        <input matInput type="number" [(ngModel)]="step">
      </mat-form-field>
    </section>

    <section class="example-section">
      <mat-checkbox [(ngModel)]="showTicks">Show ticks</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-checkbox [(ngModel)]="thumbLabel">Show thumb label</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-checkbox [(ngModel)]="disabled">Disabled</mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>

<mat-card class="example-result-card">
  <mat-card-content>
    <h2>Result</h2>

    <div class="example-label-container">
      <label id="example-name-label" class="example-name-label">Value</label>
      <label class="example-value-label">{{slider.value}}</label>
    </div>
    <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [max]="max"
        [min]="min"
        [step]="step"
        [discrete]="thumbLabel"
        [showTickMarks]="showTicks">
      <input matSliderThumb [(ngModel)]="value" #slider>
    </mat-slider>
  </mat-card-content>
</mat-card>
